<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admintrator_Editor RaovatApp</title>
    <link rel="stylesheet" type="text/css" href="./layout.css"/>
    <script src="./jquery.js"></script>
    <script src="./js/ajax.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="left">
            <div>
                <img id="logo" src="./image/avatar.png" alt="">
            </div>
            <div id="menu">
                <a href="./master">Thanh Pho</a>
                <a href="./category">Nhom Sp</a>
                <a href="">Token</a>
            </div>
        </div>
        <div id="content">
            Admin Editor
            <%- include(content) %>
        </div>
    </div>
</body>
</html>