
<script src="./js/ajax_city.js"></script>

<div id="city_formAddNew">
 <input type="text" id="cityName" placeholder="City" />
 <input type="button" id="btnAddCity" value="Add City">
</div>

<ul id="city_List">
    <li>....</li>
</ul>

<div id="city_formUpdateDelete">
    <input type="hidden" id="hid_Txt" value="">
    <input type="text" id="update_City" placeholder="Click on City"/>
    <input type="button" id="btn_Update" value="Update"/>
    <input type="button" id="btn_Delete" value="Delete">
</div>
